---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: UTF-8
      string: client_id=1031731430214-cgrtpcni90gh3lmmr3fem5nihb4b3iuk.apps.googleusercontent.com&client_secret=iMPFqGEPCd2Z3bR5iZDmt_k2&grant_type=refresh_token&redirect_uri=https%3A%2F%2Fpearup-144805.firebaseapp.com%2F__%2Fauth%2Fhandler&refresh_token=refresh_token_from_googlefit
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token": "access_token","token_type": "Bearer","expires_in": 3600,"id_token": "token_id"}'
  recorded_at: Mon, 24 Oct 2016 15:58:07 GMT
- request:
    method: get
    uri: https://www.googleapis.com/fitness/v1/users/me/dataSources/derived:com.google.step_count.delta:com.google.android.gms:estimated_steps/datasets/0000000000-0000000000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - 'Bearer '
  response:
    status:
      code: 200
      message:
    headers:
      www-authenticate:
      - Bearer realm="https://accounts.google.com/", error=invalid_token
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "dataSourceId": "derived:com.google.step_count.delta:com.google.android.gms:estimated_steps",
          "maxEndTimeNs": "1476266340000000000",
          "minStartTimeNs": "1476262800000000000",
          "point": [
            {
              "dataTypeName": "com.google.step_count.delta",
              "endTimeNanos": "1476262863352269000",
              "modifiedTimeMillis": "1476269735356",
              "originDataSourceId": "derived:com.google.step_count.cumulative:com.google.android.gms:asus:ASUS_T00I:6bd4c846:soft_step_counter",
              "startTimeNanos": "1476262639352252616",
              "value": [
                {
                  "intVal": 112,
                  "mapVal": []
                }
              ]
            },
            {
              "dataTypeName": "com.google.step_count.delta",
              "endTimeNanos": "1476262866553000000",
              "modifiedTimeMillis": "1476269735356",
              "originDataSourceId": "derived:com.google.step_count.cumulative:com.google.android.gms:asus:ASUS_T00I:6bd4c846:soft_step_counter",
              "startTimeNanos": "1476262863352269000",
              "value": [
                {
                  "intV[...]
