---
http_interactions:
- request:
    method: post
    uri: https://api.fitbit.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=refresh_token&refresh_token=MyString
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic MjI3Wk1KOjQ2NTc2Yjg3OTA3ZTFmZjVjNGY1NjNkYjBiODA1MmUw
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json;charset=utf-8
      content-language:
      - en-US
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiI0WFJWV0MiLCJhdWQiOiIyMjdaMk4iLCJpc3MiOiJGaXRiaXQiLCJ0eXAiOiJhY2Nlc3NfdG9rZW4iLCJzY29wZXMiOiJyYWN0IiwiZXhwIjoxNDczODc3ODYyLCJpYXQiOjE0NzM4NDkwNjJ9.jj_IIiOZRVNQdpQBUBZY1bAPQAoOcQOPMRa8Kt9Ogeo","expires_in":28800,"refresh_token":"16b41d338bf1b89386771935b3a84e5c9b7e52a7093728b8cc89dade86ac8507","scope":"activity","token_type":"Bearer","user_id":"4XRVWC"}'
  recorded_at: Wed, 26 Oct 2016 11:08:00 GMT
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: UTF-8
      string: client_id=1031731430214-cgrtpcni90gh3lmmr3fem5nihb4b3iuk.apps.googleusercontent.com&client_secret=iMPFqGEPCd2Z3bR5iZDmt_k2&grant_type=refresh_token&redirect_uri=https%3A%2F%2Fpearup-144805.firebaseapp.com%2F__%2Fauth%2Fhandler&refresh_token=MyString
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token": "access_token","token_type": "Bearer","expires_in":
        3600,"id_token": "token_id"}'
  recorded_at: Wed, 26 Oct 2016 11:08:01 GMT
- request:
    method: get
    uri: https://api.fitbit.com/1/user/-/activities/steps/date/today/1d.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiI0WFJWV0MiLCJhdWQiOiIyMjdaMk4iLCJpc3MiOiJGaXRiaXQiLCJ0eXAiOiJhY2Nlc3NfdG9rZW4iLCJzY29wZXMiOiJyYWN0IiwiZXhwIjoxNDczODc3ODYyLCJpYXQiOjE0NzM4NDkwNjJ9.jj_IIiOZRVNQdpQBUBZY1bAPQAoOcQOPMRa8Kt9Ogeo
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json;charset=utf-8
      www-authenticate:
      - Bearer realm="api.fitbit.com"
    body:
      encoding: UTF-8
      string: '{"activities-steps":[{"dateTime":"2016-08-20","value":"0"}]}'
  recorded_at: Wed, 26 Oct 2016 11:09:53 GMT
- request:
    method: get
    uri: https://www.googleapis.com/fitness/v1/users/me/dataSources/derived:com.google.step_count.delta:com.google.android.gms:estimated_steps/datasets/1451638800000000000-1451642400000000000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 200
      message:
    headers:
      www-authenticate:
      - Bearer realm="https://accounts.google.com/", error=invalid_token
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "dataSourceId": "derived:com.google.step_count.delta:com.google.android.gms:estimated_steps",
          "maxEndTimeNs": "1476266340000000000",
          "minStartTimeNs": "1476262800000000000",
          "point": [
            {
              "dataTypeName": "com.google.step_count.delta",
              "endTimeNanos": "1476262863352269000",
              "modifiedTimeMillis": "1476269735356",
              "originDataSourceId": "derived:com.google.step_count.cumulative:com.google.android.gms:asus:ASUS_T00I:6bd4c846:soft_step_counter",
              "startTimeNanos": "1476262639352252616",
              "value": [
                {
                  "intVal": 112,
                  "mapVal": []
                }
              ]
            },
            {
              "dataTypeName": "com.google.step_count.delta",
              "endTimeNanos": "1476262866553000000",
              "modifiedTimeMillis": "1476269735356",
              "originDataSourceId": "derived:com.google.step_count.cumulative:com.google.android.gms:asus:ASUS_T00I:6bd4c846:soft_step_counter",
              "startTimeNanos": "1476262863352269000",
              "value": [
                {
                  "intV[...]
