---
http_interactions:
- request:
    method: post
    uri: https://api.fitbit.com/oauth2/token
    body:
      encoding: UTF-8
      string: client_id=227ZMJ&code&grant_type=authorization_code&redirect_uri
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - 'Basic MjI3Wk1KOjQ2NTc2Yjg3OTA3ZTFmZjVjNGY1NjNkYjBiODA1MmUw

'
  response:
    status:
      code: 400
      message: 
    headers:
      content-type:
      - application/json;charset=utf-8
      content-language:
      - en-US
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"errorType":"invalid_request","message":"Missing parameters:
        code Visit https://dev.fitbit.com/docs/oauth2 for more information on the
        Fitbit Web API authorization process."}],"success":false}'
  recorded_at: Wed, 26 Oct 2016 15:09:59 GMT
recorded_with: VCR 3.0.3
