---
http_interactions:
- request:
    method: post
    uri: https://api.fitbit.com/oauth2/token
    body:
      encoding: UTF-8
      string: client_id=227ZMJ&code=my+token&grant_type=authorization_code&redirect_uri
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - 'Basic MjI3Wk1KOjQ2NTc2Yjg3OTA3ZTFmZjVjNGY1NjNkYjBiODA1MmUw

'
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json;charset=utf-8
      content-language:
      - en-US
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"access_token_from_fitbit","expires_in":28800,"refresh_token":"refresh_token_from_fitbit","scope":"activity","token_type":"Bearer","user_id":"fitbit_user_id"}'
  recorded_at: Wed, 26 Oct 2016 15:09:58 GMT
recorded_with: VCR 3.0.3
